<div class="main-screen-container">
    <div class="search-screen-container d-flex flex-column">
        <div class="input-container">
            <mat-form-field class="input-form-field">
                <input matInput type="text" placeholder="Input words" [(ngModel)]="searchValue">
                <button class="close-button" mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <button mat-button class="search-button" (click)="getResultData(searchValue)">
                Search
              </button>
              <input type="file" webkitDirectory (change)="sendFiles($event)">
        </div>
        
        <div class="directory-info d-flex flex-row">
            <label>Directory: </label>
            <label *ngIf="directory">{{directory}}</label>
            <label *ngIf="!directory">none</label>
          </div>
    </div>
</div>
