<div class="main-screen-container">
    <div class="search-screen-container d-flex flex-column">
        <div class="input-container">
            <mat-form-field class="input-form-field">
                <input matInput type="text" placeholder="Input words" [(ngModel)]="searchValue">
                <button class="close-button" mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <button mat-button class="search-button ml-5" (click)="getResultData(searchValue)">
                Search
              </button>
              <input class="file-chooser ml-5" type="file" webkitDirectory (change)="sendFiles($event)">
        </div>
        
        <div class="results-container d-flex flex-row ml-4" *ngIf = "checkresults">
            <div *ngFor="let result of results" class="d-flex flex-column text-column">
             <div>{{result.title}}</div> 
             <div>{{result.filePath}}</div>
                <div>{{result.snippet}}</div>
            </div>
          </div>
    </div>
</div>
